.task-container {
    padding: 15px;
    width: 80%;
}

.task-container ul {
    padding: 0;
}
.task-container li {
    width: 70%;
    list-style-type: none;
    border-left:25px solid skyblue;
    padding: 15px;
    background-color:#E0E0E0;
    margin-top: 5px;
    
}

.action-buttons {
    padding-top: 15px;
}

.completed {
    text-decoration-line: line-through;
}

.completed-tasks {
    background: lightgray;
    height: 100vh;
    width: 19%;
    top: 0;
    position: fixed;
    right: 0;
    font-size: 0.8em;
    padding-left: 2px;
}

.completed-tasks header {
    padding: 5px;
    font-size: 1.3em;
    background-color:skyblue;
    font-weight: bold;
}